@media print {
    @page {
        size: A4;
        margin: 0;
    }

    .recommend-box.insert-baidu-box,
    div.comment-box,
    .second-recommend-box.recommend-box,
    .first-recommend-box.recommend-box,
    div.blog-footer-bottom,
    #toolBarBox,
    div.csdn-side-toolbar,
    aside.blog_container_aside,
    #csdn-toolbar {
        display: none !important;
    }

    .nodata .container main {
        width: 90% !important;
    }

    .nodata .container {
        width: 100% !important;
        display: flex;
        justify-content: center;
        padding: 0;
    }
}